<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- NYC Events App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="topnav">
        <a href="{{ url_for('index') }}">NYC Events App</a>
        <a href="{{ url_for('map_view') }}">Map</a>
        <a href="{{ url_for('list_view') }}">List</a>
        <a href="{{ url_for('create_event') }}">Create Event</a>
        {% if session['uid'] %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>