{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
        crossorigin=""></script>

{% endblock %}

{% block content %}

<div>
    <div id="map" style="height: 90vh;">
        <div class="leaflet-top leaflet-right">
            <button>Button 1</button>
            <button>Button 2</button>
            <button>Button 3</button>
        </div>
    </div>
</div>
    <script>
        var map = L.map('map').setView(new L.LatLng(40.7128, -73.95652770996094), 14);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            minzoom: 12,
            }).addTo(map);
    </script>

<script>
    {% for marker in markers %}
    L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
    //.bindPopup({{ marker['popup']|safe }})
    .bindPopup("<b>{{ marker['title'] }}</b><br>Organized by <a href={{ marker['organizer_link'] }}>{{ marker['organizer_name'] }}</a><br>Date: {{ marker['date'] }}<hr><p>{{ marker['description'] }}</p>")
    .openPopup();
    {% endfor %}
</script>

{% endblock %}

