{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
        crossorigin=""></script>

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>

{% endblock %}

{% block content %}

    <div id="map" style="height: 800px;"></div>
    <script>
        var map = L.map('map').setView(new L.LatLng(40.7128, -73.95652770996094), 14);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            minzoom: 3,
            }).addTo(map);
    </script>

<script>
    {% for marker in markers %}
    L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
    .bindPopup("<b>{{ marker['title'] }}</b><hr><p>{{ marker['description'] }}</p>")
    .openPopup();
    {% endfor %}
</script>

{% endblock %}

